!!!
%html
  %head
    %title Natalie's Blog
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    %header 
      All your cats are belong to me
    = yield

    %footer
      A footer!
