%h1 Blog

%ol
  -@blogs.each do |blog|
    %li
      %h2
        =blog.blogname
      %div
        %p
          =blog.subheading
        
        %p
          =blog.currentdate

        %p
          =blog.content